<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://posta2kdatacloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f89d444b-7045-47dd-b06b-ff3974e0ddd2/resourceGroups/postA2KdataCloud_group/providers/Microsoft.Web/sites/postA2KdataCloud</ResourceId>
    <UserName>$postA2KdataCloud</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://posta2kdatacloud.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>